<ion-header class="ion-no-border">
  <ion-toolbar class="modal-header">
    <ion-title class="ion-text-center text-white">
      {{ id ? 'Filmi Düzenle' : 'Yeni Film Ekle' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="kapat()" color="light">
        <ion-icon name="close-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  
  <div class="form-wrapper">
    
    <ion-item lines="none" class="custom-input">
      <ion-icon name="film-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="film.ad" label="Film Adı" labelPlacement="floating" placeholder="Örn: Inception"></ion-input>
    </ion-item>

    <div class="row-inputs">
      <ion-item lines="none" class="custom-input half">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="film.tur" label="Türü" labelPlacement="floating" placeholder="Bilim Kurgu"></ion-input>
      </ion-item>
      
      <ion-item lines="none" class="custom-input half">
        <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
        <ion-input [(ngModel)]="film.yil" type="number" label="Yıl" labelPlacement="floating" placeholder="2024"></ion-input>
      </ion-item>
    </div>

    <ion-item lines="none" class="custom-input area">
      <ion-icon name="document-text-outline" slot="start" style="align-self: flex-start; margin-top: 15px;"></ion-icon>
      <ion-textarea [(ngModel)]="film.aciklama" label="Açıklama" labelPlacement="floating" rows="4" placeholder="Film konusundan kısaca bahsedin..."></ion-textarea>
    </ion-item>

    <div class="rating-box">
      <p class="rating-label">Puan Verin</p>
      <div class="stars">
        <ion-icon 
          *ngFor="let i of yildizlar" 
          [name]="(film.puan || 0) >= i ? 'star' : 'star-outline'" 
          (click)="puanVer(i)"
          class="rating-star">
        </ion-icon>
      </div>
      <div class="rating-text" *ngIf="film.puan > 0">
        {{ film.puan }} / 5
      </div>
    </div>

    <ion-button expand="block" shape="round" class="save-btn" (click)="kaydet()">
      <ion-icon slot="start" [name]="id ? 'checkmark-done-circle-outline' : 'save-outline'"></ion-icon>
      {{ id ? 'GÜNCELLE' : 'KAYDET' }}
    </ion-button>

  </div>
</ion-content>